@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: WSC
	Description: Custom blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.2.5
	Text Domain: wsc
*/
.editor-button-block, .editor-button-block__border-teal, .editor-button-block__solid-teal {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  font-family: "Sacramento", cursive;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  line-height: 1;
  vertical-align: text-top;
}
@media (min-width: 480px) {
  .editor-button-block, .editor-button-block__border-teal, .editor-button-block__solid-teal {
    padding: 0.635rem 0.75rem;
    font-size: 1rem;
  }
}
.editor-button-block__border-teal {
  background-color: #FFF;
  color: #236155;
  border: 1px solid #236155;
}
.editor-button-block__border-teal:hover {
  background-color: #236155;
  color: #FFF;
  border-color: #FFF;
}
.editor-button-block__solid-teal {
  background-color: #236155;
  color: #FFF;
  border: 1px solid #236155;
}
.editor-button-block__solid-teal:hover {
  background-color: #FFF;
  color: #236155;
}

.standard-dropdown-container {
  max-width: 63.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #236155;
  color: #236155;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.cursive-text-block {
  padding-left: 1.5rem;
  margin-top: 3.75rem;
  margin-bottom: 2.75rem;
  font-family: "Sacramento", cursive;
  font-weight: normal;
  color: #236155;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .cursive-text-block {
    margin-bottom: 3.75rem;
    line-height: 1.5;
  }
}

.qa-container {
  max-width: 100%;
  margin-top: 3.75rem;
}
.qa-container h2 {
  font-family: "bilo", sans-serif;
  font-weight: bold;
}
.qa-container h2 > span {
  font-family: "Sacramento", cursive;
  font-weight: normal;
  font-size: 2.25rem;
}
@media (min-width: 480px) {
  .qa-container h2 > span {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .qa-container h2 > span {
    font-size: 3.75rem;
  }
}
.qa-container .qa-content {
  margin-bottom: 3rem;
}
.qa-container .qa-content p {
  margin-bottom: 1rem;
}
.qa-container .qa-content > div {
  margin-bottom: 1rem;
}
.qa-container .qa-content strong {
  display: inline;
  color: #236155;
  font-weight: bold;
  font-family: "bilo", sans-serif;
  font-size: 1.4375rem;
}