@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: WSC Theme
	Description: Custom theme for Wheat State Crate.
	Version: 1.5.1
	Text Domain: wsc
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: #236155;
  opacity: 1;
  text-transform: none !important;
}

::-moz-placeholder {
  color: #236155;
  opacity: 1;
  text-transform: none !important;
}

:-ms-input-placeholder {
  color: #236155;
  opacity: 1;
  text-transform: none !important;
}

::-ms-input-placeholder {
  color: #236155;
  opacity: 1;
  text-transform: none !important;
}

::placeholder {
  color: #236155;
  opacity: 1;
  text-transform: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: none;
}

a, p, span, address, blockquote {
  font-family: "bilo", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #236155;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
@media (min-width: 768px) {
  a, p, span, address, blockquote {
    font-size: 1.4375rem;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: "bilo", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #236155;
}

time {
  display: block;
  padding-top: 0.75rem;
  font-family: "bilo", sans-serif;
  font-size: 0.875rem;
  color: #236155;
}

ul, ol {
  margin-bottom: 2rem;
  font-family: "bilo", sans-serif;
  font-size: 1rem;
  color: #454545;
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "bilo", sans-serif;
  font-weight: bold;
  color: #454545;
}

h1, .h1-heading {
  font-size: 2.5rem;
}
@media (min-width: 480px) {
  h1, .h1-heading {
    font-size: 3.25rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 4.5rem;
  }
}

h2, .h2-heading {
  font-size: 2.25rem;
}
@media (min-width: 480px) {
  h2, .h2-heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading {
    font-size: 3.75rem;
  }
}

h3, .h3-heading {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3, .h3-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 1023px) {
  h3, .h3-heading {
    font-size: 2.25rem;
  }
}

h4, .h4-heading {
  font-size: 1.375rem;
}
@media (min-width: 1023px) {
  h4, .h4-heading {
    font-size: 1.625rem;
  }
}

h5, .h5-heading {
  font-size: 0.9375rem;
}
@media (min-width: 768px) {
  h5, .h5-heading {
    font-size: 1.125rem;
  }
}

h6, .h6-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h6, .h6-heading {
    font-size: 1rem;
  }
}

.teal-dash-header, .white-dash-header {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1rem;
  position: relative;
  font-weight: 500;
}
@media (min-width: 375px) {
  .teal-dash-header, .white-dash-header {
    padding-left: 4rem;
  }
}
@media (min-width: 650px) {
  .teal-dash-header, .white-dash-header {
    padding-left: 6.5rem;
  }
}
@media (min-width: 900px) {
  .teal-dash-header, .white-dash-header {
    padding-left: 8.5rem;
  }
}
@media (min-width: 1200px) {
  .teal-dash-header, .white-dash-header {
    padding-left: 7.5rem;
  }
}
.teal-dash-header:before, .white-dash-header:before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.5rem;
  height: 4px;
  margin-left: 1rem;
}
@media (min-width: 375px) {
  .teal-dash-header:before, .white-dash-header:before {
    display: inline-block;
  }
}
@media (min-width: 650px) {
  .teal-dash-header:before, .white-dash-header:before {
    height: 5px;
    width: 4.5rem;
  }
}
@media (min-width: 900px) {
  .teal-dash-header:before, .white-dash-header:before {
    height: 6px;
    width: 6.5rem;
  }
}
@media (min-width: 1200px) {
  .teal-dash-header:before, .white-dash-header:before {
    margin-left: 0;
  }
}

.teal-dash-header {
  color: #236155;
}
.teal-dash-header:before {
  background-color: #236155;
}

.white-dash-header {
  color: #FFF;
}
.white-dash-header:before {
  background-color: #FFF;
}

.teal-cursive-header, .white-cursive-header {
  font-family: "Sacramento", cursive;
  font-weight: normal;
}

.teal-cursive-header {
  color: #236155;
}

.white-cursive-header {
  color: #FFF;
}

.primary-button, .primary-button--w, .primary-button--t, .primary-button--border, .primary-button--plain {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  font-family: "Sacramento", cursive;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  vertical-align: text-top;
}
@media (min-width: 480px) {
  .primary-button, .primary-button--w, .primary-button--t, .primary-button--border, .primary-button--plain {
    padding: 0.635rem 0.75rem;
    font-size: 1rem;
  }
}
.primary-button--w {
  background-color: #FFF;
  color: #236155;
}
.primary-button--w:hover {
  background-color: #236155;
  color: #FFF;
}
.primary-button--t {
  background-color: transparent;
  color: #FFF;
}
.primary-button--t:hover {
  background-color: #FFF;
  color: #454545;
}
.primary-button--border {
  color: #236155;
  background-color: #FFF;
  border: 1px solid #236155;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.primary-button--border:hover {
  background-color: #236155;
  color: #FFF;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.primary-button--plain {
  color: #236155;
  padding: 0.25rem;
}

.story-link {
  font-family: "bilo", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #236155;
  -webkit-transition: none;
  transition: none;
}
@media (min-width: 480px) {
  .story-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .story-link {
    font-size: 2rem;
  }
}
.story-link:hover {
  -webkit-transition: none;
  transition: none;
  -webkit-text-decoration: underline #8CD1CA;
          text-decoration: underline #8CD1CA;
}

.content-wrapper {
  max-width: 100%;
  margin: 3rem auto 0;
}

.default-header {
  max-width: 43.75rem;
  margin: 0 auto;
  background-color: #FFF;
}

.default-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}
.default-container a:not(.plain-link) {
  color: #454545;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container a:not(.plain-link):hover {
  text-decoration: underline;
}

.default-container-short {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1rem;
}
.default-container-short p a:not(.plain-link) {
  color: #236155;
  font-weight: bold;
  text-decoration: underline;
}

.hide-on-desktop {
  display: block;
}
@media (min-width: 480px) {
  .hide-on-desktop {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 480px) {
  .hide-on-mobile {
    display: block;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.plain-link {
  color: #236155;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

.mb-4r {
  margin-bottom: 4rem;
}

.wp-block-media-text {
  margin-top: 3rem;
}
.wp-block-media-text > figure {
  margin-bottom: 2rem;
}
.wp-block-media-text .wp-block-media-text__media {
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
  margin-top: 0.5rem;
}
.wp-block-media-text .wp-block-media-text__content {
  padding-left: 0;
}

.wp-block-image > img, figure img {
  border-radius: 20px !important;
}

.blocks-gallery-grid, .wp-block-gallery {
  margin: 0 auto !important;
}

.arrow-down {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 5rem;
  margin: 0 auto;
  -webkit-animation: bounce 2s 5;
          animation: bounce 2s 5;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 50;
}
.arrow-down a {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 0.75rem;
  font-family: FontAwesome;
  font-size: 1.5rem;
  color: linear-gradient(0% #FFF, 100% #236155);
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  background-color: #FFF;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
.sticky + .content-wrapper {
  padding-top: 10rem;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 56.25em) {
  .nav-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1.75rem;
  }

  .logo {
    max-width: 14.125rem;
    padding-right: 5rem;
    border-right: 3px solid #236155;
  }

  .sticky .nav-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .sticky .nav-container .logo {
    max-width: 6.5rem;
    padding-right: 1rem;
    border-right: unset;
  }

  #primary-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .nav-menu {
    width: 58.25rem;
    padding-left: 2rem;
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li a {
    color: #236155;
    font-family: "bilo", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    -webkit-transition: none;
    transition: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
  }
  .nav-menu .menu li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #8CD1CA;
    -webkit-transition: none;
    transition: none;
  }
  .nav-menu .menu.current-menu-item {
    border-bottom: 2px solid #8CD1CA;
  }
}
@media (max-width: 56.1875em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 5.75rem;
  }

  .sticky .mobile-nav-top {
    padding: 0.5rem 1rem 0.25rem;
  }
  .sticky .mobile-nav-top .mobile-logo {
    max-width: 3.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    width: 1.6rem;
    height: 3px;
    margin-bottom: 6px;
    background-color: #236155;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 1px;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 4px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #primary-menu {
    display: none;
    position: relative;
    top: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
    overflow: hidden;
    padding-bottom: 1.5rem;
  }
  #primary-menu li {
    margin-bottom: 1.5rem;
  }
  #primary-menu a {
    font-family: "bilo", sans-serif;
    color: #236155;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}
.home-header {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.home-header__inner-content {
  max-width: 100%;
}
.home-header__inner-content .image-anchor-right {
  max-width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .home-header__inner-content .image-anchor-right {
    max-width: 70vw;
  }
}
.home-header__inner-content .brand-anchor-left {
  max-width: 75vw;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
@media (min-width: 600px) {
  .home-header__inner-content .brand-anchor-left {
    max-width: 50vw;
  }
}
@media (min-width: 1340px) {
  .home-header__inner-content .brand-anchor-left {
    max-width: 36vw;
  }
}
.home-header__inner-content .brand-logo {
  background-color: #8CD1CA;
  padding: calc(4vh + 1rem) calc(5vw + 2rem);
  text-align: center;
}
.home-header__inner-content .header-tagline {
  background-color: #236155;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .home-header__inner-content .header-tagline {
    padding: calc(4vh + 1rem) calc(5vw + 2rem);
  }
}
@media (min-width: 1200px) {
  .home-header__inner-content .header-tagline {
    padding: 1.5rem 2rem 1.5rem 7.5rem;
  }
}
.home-header__inner-content .header-tagline h1 {
  color: #FFF;
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .home-header__inner-content .header-tagline h1 {
    font-size: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .home-header__inner-content .header-tagline h1 {
    font-size: 2.875rem;
  }
}

.before-footer .pattern-bar {
  display: block;
  width: 100vw;
}

.text-callout {
  max-width: 100%;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.text-callout h1 {
  margin-bottom: 1.5rem;
}
.text-callout p {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 1200px) {
  .text-callout p {
    padding: initial;
  }
}

.yellow-wrapper {
  background-color: #FFCB38;
  padding: 3rem 0;
  margin-top: 10rem;
  width: 100%;
}
.yellow-wrapper .slider-wrapper {
  margin: -9rem auto 0;
  max-width: 100%;
  width: 100%;
}
.yellow-wrapper .slider-wrapper a {
  position: relative;
  display: block;
  max-width: 18rem;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.yellow-wrapper .slider-wrapper a .hover-info {
  visibility: hidden;
  display: block;
  max-width: 10rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  color: #FFF;
  z-index: 10;
  width: 100%;
  line-height: 1.2;
}
@media (min-width: 1023px) {
  .yellow-wrapper .slider-wrapper a .hover-info {
    font-size: 1.2rem;
  }
}
@media (min-width: 48em) {
  .yellow-wrapper .slider-wrapper a:hover {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
  }
  .yellow-wrapper .slider-wrapper a:hover .hover-info {
    visibility: visible;
  }
}

.site-footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem 1rem;
  background-color: #236155;
}
.site-footer a, .site-footer p {
  color: #FFF;
}
.site-footer p {
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.site-footer .phone-link {
  display: block;
  margin-bottom: 1rem;
  line-height: 1;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 680px) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
.footer-top .wsc-logo {
  margin: 0 auto 1.5rem;
}
@media (min-width: 680px) {
  .footer-top .wsc-logo {
    margin: unset;
    margin-right: 1.75rem;
  }
}
.footer-top .information {
  padding-bottom: 0.5rem;
  max-width: 32rem;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 680px) {
  .footer-top .information {
    margin: initial;
    padding-left: 1.75rem;
    text-align: left;
    border-left: 1px solid #FFF;
  }
}
.footer-top .information .gmap-link {
  display: block;
  margin-bottom: 1rem;
}
@media (min-width: 680px) {
  .footer-top .information .gmap-link {
    margin-bottom: unset;
  }
}
.footer-top a > img {
  display: block;
  max-width: 11.25rem;
}
.footer-top .kswheat-logo > img {
  margin: 2rem auto 0;
}
@media (min-width: 680px) {
  .footer-top .kswheat-logo > img {
    display: block;
    margin: unset;
    margin-top: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer-top .kswheat-logo > img {
    margin-top: 1.5rem;
  }
}

.below-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 650px) {
  .below-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.below-footer .footer-link {
  font-size: 0.75rem;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}
@media (min-width: 650px) {
  .below-footer .footer-link {
    margin-bottom: unset;
  }
}

.footer-menu {
  max-width: 15rem;
  margin: 1.5rem auto 0;
  text-align: center;
}
@media (min-width: 650px) {
  .footer-menu {
    text-align: left;
    margin: 0 auto 0 7rem;
  }
}
.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu a:hover {
  text-decoration: underline;
}

.current-crate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 68.5rem;
  margin: 0 auto 5rem;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (min-width: 900px) {
  .current-crate {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.current-crate img {
  max-width: 20rem;
  border-radius: 11px;
}
@media (min-width: 768px) {
  .current-crate img {
    max-width: 29.875rem;
  }
}
.current-crate__details {
  max-width: 23.75rem;
  margin: 0 auto 3rem;
}
@media (min-width: 900px) {
  .current-crate__details {
    margin: 0 auto 0 1rem;
  }
}
@media (min-width: 1023px) {
  .current-crate__details {
    margin-left: 7.5rem;
    margin-right: auto;
  }
}
.current-crate__details .crate-price, .current-crate__details .price {
  font-size: 2rem;
  color: #8CD1CA;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .current-crate__details .crate-price, .current-crate__details .price {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .current-crate__details .crate-price, .current-crate__details .price {
    font-size: 3.125rem;
  }
}
.current-crate__details .price {
  text-decoration: line-through;
}
.current-crate .detail-list {
  list-style: none;
  padding: 0;
  padding-left: 0.5rem;
}
.current-crate .detail-list li {
  color: #236155;
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: 0.3rem;
}
.current-crate .detail-list li:before {
  content: "•";
  font-size: 1.375rem;
  color: #236155;
  padding-right: 0.5rem;
  vertical-align: text-top;
}

.download-container {
  max-width: 68.5rem;
  margin: 7.5rem auto 5rem;
  padding: 0 1rem;
}
.download-container h4 {
  color: #236155;
  margin-bottom: 2.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .download-container h4 {
    text-align: left;
  }
}
.download-container .download-grid {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
  row-gap: 2.5rem;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .download-container .download-grid {
    row-gap: 4rem;
  }
}
.download-container .download-grid__item {
  max-width: 18rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.download-container .download-grid__item .download-anchor {
  display: block;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 15rem;
  border-radius: 7px;
  margin-bottom: 1rem;
}
.download-container .download-grid__item a:not(.download-anchor) {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.meet-the-farmers {
  background-color: #236155;
  max-width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.farmer-story-odd, .farmer-story-even {
  position: relative;
  max-width: 77rem;
  margin: 2.5rem auto 0;
  padding: 0 1rem;
}
.farmer-story-odd img, .farmer-story-even img {
  position: relative;
  display: block;
  max-width: 38.75rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
@media (min-width: 1023px) {
  .farmer-story-odd img, .farmer-story-even img {
    margin: unset;
    width: initial;
  }
}
.farmer-story-odd .info-box, .farmer-story-even .info-box {
  max-width: 44.25rem;
  width: 100%;
  position: relative;
  padding: 1.25rem 2.5rem 3rem;
  background-image: url("static/images/cardboard-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  z-index: 5;
  margin: 0 auto;
}
@media (min-width: 1023px) {
  .farmer-story-odd .info-box, .farmer-story-even .info-box {
    margin: unset;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.farmer-story-odd .info-box p, .farmer-story-even .info-box p {
  max-width: 39rem;
  color: #236155;
}

@media (min-width: 1023px) {
  .farmer-story-odd img {
    margin-right: auto;
  }
  .farmer-story-odd .info-box {
    right: 1rem;
  }
}

@media (min-width: 1023px) {
  .farmer-story-even img {
    margin-left: auto;
  }
  .farmer-story-even .info-box {
    left: 1rem;
  }
}

.single-story .content-wrapper {
  margin-top: 0;
}

.single-farmer-post-header {
  padding-bottom: 0;
  margin-bottom: 10rem;
}
.single-farmer-post-header h1 {
  margin-top: 1rem;
}
.single-farmer-post-header .farmer-story-odd {
  position: relative;
  margin-top: -4rem;
  bottom: -8rem;
}
.single-farmer-post-header .farmer-story-odd .info-box {
  padding-bottom: 1rem;
}
.single-farmer-post-header p {
  margin-bottom: 1.25rem;
}

.farmer-story-post {
  max-width: 64.5rem;
  padding: 1rem;
  margin: 3.75rem auto 0;
}
.farmer-story-post p {
  margin-bottom: 2.25rem;
}
.farmer-story-post h1, .farmer-story-post h2, .farmer-story-post h3, .farmer-story-post h4, .farmer-story-post h5, .farmer-story-post h6 {
  color: #236155;
}

/* Used to add pseudo elements to all anchor points for the nav menu's "jump list"
   this prevents the fixed nav from covering or scrolling past the anchor locations
*/
#get-current-crate::before,
#meet-the-farmers::before,
#sign-up-form::before,
#more-activities::before {
  display: block;
  content: " ";
  visibility: hidden;
  margin-top: -200px;
  height: 200px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.form {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 1rem 3.75rem;
}
.form h1 {
  margin-bottom: 2.5rem;
}
.form .entries-left {
  position: absolute;
  bottom: -1rem;
  right: 0;
  font-family: "bilo", sans-serif;
  font-weight: bold;
  color: #236155;
}
@media (min-width: 650px) {
  .form .entries-left {
    bottom: 2.6rem;
  }
}
.form .entries-left span {
  font-family: "bilo", sans-serif;
  font-weight: bold;
  -webkit-text-decoration: 2px underline #8CD1CA;
          text-decoration: 2px underline #8CD1CA;
}
.form > div {
  position: relative;
  max-width: 36.875rem;
  margin: 0 auto;
}

.gforms_css {
  /* start global elements */
}
.gforms_css label {
  display: none;
}
.gforms_css ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gforms_css li {
  margin-top: 0 !important;
}
.gforms_css .gfield {
  padding-right: 0 !important;
}
.gforms_css .ginput_container {
  margin-top: unset !important;
}
.gforms_css input, .gforms_css textarea {
  font-size: 1.4375rem !important;
  color: #236155 !important;
  background-color: #F2E1DE !important;
  border: unset;
  padding: 0.75rem 1rem !important;
  border-radius: 7px;
  margin-top: 0 !important;
  margin-bottom: 1.25rem !important;
  line-height: 1.2 !important;
}
.gforms_css select, .gforms_css option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #F2E1DE !important;
  color: #236155 !important;
  font-family: "bilo", sans-serif;
  font-weight: normal;
  font-size: 1.4375rem !important;
  border: unset !important;
  border-radius: 7px;
}
.gforms_css select {
  position: relative;
  padding: 0.5rem 0.25rem 0.55rem 0.75rem !important;
  margin-bottom: 19px !important;
}
@media (min-width: 680px) {
  .gforms_css select {
    margin-bottom: unset !important;
    margin-top: 0 !important;
  }
}
.gforms_css select:hover {
  cursor: pointer;
}
@-moz-document url-prefix() {
  .gforms_css select {
    padding: 0.7rem 0.25rem 0.6rem 0.75rem !important;
  }
}
.gforms_css .gform_footer .gform_button, .gforms_css .button {
  background: unset;
  border: unset;
  background-color: #D2EBE1 !important;
  font-family: "bilo", sans-serif;
  font-weight: 500;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  max-width: 15.375rem !important;
  width: 100% !important;
  padding: 0.875rem 0 !important;
  border-radius: 7px;
}
.gforms_css .gform_footer .gform_button:hover, .gforms_css .button:hover {
  cursor: pointer;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  background-color: #236155 !important;
  color: #FFF !important;
}

#gform_wrapper_1 {
  margin: 0 auto;
}
#gform_wrapper_1 #input_1_1, #gform_wrapper_1 #input_1_2 {
  width: 100%;
}
#gform_wrapper_1 #field_1_1 {
  margin-top: 0;
}
#gform_wrapper_1 .address-box span {
  margin-bottom: 0;
}
@media (min-width: 42.5em) {
  #gform_wrapper_1 .address-box #input_1_3_1 {
    max-width: 17.75rem;
    float: left;
  }
  #gform_wrapper_1 .address-box #input_1_3_2 {
    max-width: 17.75rem;
    float: right;
  }
  #gform_wrapper_1 .address-box #input_1_3_3_container {
    max-width: 18.25rem;
    float: left;
    margin-right: 14px;
  }
  #gform_wrapper_1 .address-box #input_1_3_4_container {
    max-width: 8.75rem;
    float: left;
  }
  #gform_wrapper_1 .address-box #input_1_3_5_container {
    max-width: 8.125rem;
    float: right;
    margin-right: 0;
    padding-right: 0 !important;
  }
  #gform_wrapper_1 #input_1_4 {
    width: calc(50% - 11px) !important;
    text-transform: uppercase;
  }
}

#gform_wrapper_2 #gform_2, #gform_wrapper_3 #gform_3 {
  margin: 3.75rem auto 1.5rem;
  max-width: 36.87rem;
}
/*# sourceMappingURL=style.css.map */