{#
  * Block Name: QA Block
  * Creates a block with for a Q and A content.
#}

<section id="{{ block.id }}" class="qa-container">
	<h2>Q <span>and</span> A</h2>
	{% for qa in fields.qa_section %}
		<div class="qa-content">
			<p><strong>Q: {{ qa.block_question }}</strong></p>
			<div>{{ qa.block_answer }}</div>
		</div>
	{% endfor %}
	</div>
</section>