{#
  * Block Name: Teal Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__border-teal" href="{{ fields.button_link }}">{{ fields.button_text }}</a>