{% extends 'base.twig' %}

{% block content %}
<div class="default-container">
	<h2 style="text-align: center;">404: Not Found.</h2>
	<p style="text-align: center;">Return <a href="/">Home</a></p>
</div>
{% endblock %}