{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	{% if is_front_page %}
		<header class="home-header" style="background-image: url('{{ theme.link }}/static/images/wheat-background.jpg');">
			<div class="home-header__inner-content">
				<div class="brand-anchor-left">
					<div class="brand-logo"><img src="{{ theme.link }}/static/images/wsc-state-logo.png" alt="Wheat State Crate Brand Logo" /></div>
					<div class="header-tagline">
						<h1>{{ post.header_tagline }}</h1>
					</div>
				</div>
				<img class="image-anchor-right" src="{{ TimberImage( post.header_right_image ).src }}" alt="{{ TimberImage( post.header_right_image ).alt }}" />
			</div>

			<div class="arrow-down bounce">
				<a class="fa fa-chevron-down" href="#get-current-crate"></a>
			</div>
		</header>
		{% include 'navigation.twig' %}
	{% else %}

		{% include 'navigation.twig' %}
		<header class="story-header"></header>
	{% endif %}

	<section class="content-wrapper">
		{% block content %}
		{% endblock %}
	</section>

	<section class="before-footer">
		<img class="pattern-bar" src="{{ theme.link }}/static/images/light-wheat-pattern.jpg" alt="Pink Wheat Pattern" />
		{% if is_front_page %}
			<div id="sign-up-form">
				<div class="form" style="background-image: url('{{ theme.link }}/static/images/cardboard-background.jpg');">
					<h1 class="teal-dash-header">{{ post.third_dashed_header }}</h1>
					<div>
						{% set entries_left = '[gravityforms action="entries_left" id="1"]' %}
						{{ function('do_shortcode', post.form_shortcode) }}
						{% if post.get_field('boxes_remaining') == 'Yes' %}
							<span class="entries-left">Only <span>{{ function('do_shortcode', entries_left) }}</span> boxes remaining!</span>
						{% endif %}
					</div>
				</div>
			</div>

			<div id="more-activities" class="text-callout">
				<h1 class="teal-dash-header">{{ post.fourth_dashed_header }}</h1>
				<p>{{ post.callout_text }} <a class="plain-link" href="{{ post.callout_link }}">{{ post.link_text }}</a></p>
			</div>

			<div class="yellow-wrapper">
				<div class="slider-wrapper">
					{% for slide in options.slider_group %}
						<a class="slider-item" href="{{ slide.recipe_link }}" target="_blank" rel="noopener" style="background-image: url('{{ TimberImage(slide.recipe_image).src }}');">
							<span class="hover-info">More at EatWheat.org</span>
						</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</section>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>