{% set gmap_url = 'https://www.google.com/maps/place/Kansas+Wheat+Commission/@39.2050686,-96.5918077,17.9z/data=!4m5!3m4!1s0x87bdcda0aa5e089d:0xc2fee84243308301!8m2!3d39.2049356!4d-96.5912389' %}
<footer class="site-footer">
	<div class="footer-top">
		<a class="wsc-logo" href="/" title="To top of Home"><img src="{{ theme.link }}/static/images/wsc-logo-yellow.png" alt="Wheat State Crate Logo - Yellow" /></a>
		<div class="information">
			<p>Brought to you by Kansas Wheat Commission</p>
			<a class="gmap-link" href="{{ gmap_url }}">{{ options.address }}</a>
			<a class="phone-link" href="tel:{{ options.phone }}">{{ options.phone }}</a>
			<a class="kswheat-logo" href="http://kswheat.com" target="_blank" rel="noopener" title="KS Wheat Site Link"><img src="{{ theme.link }}/static/images/ks-wheat-logo.png" alt="KS Wheat Logo" /></a>
		</div>
		<div class="footer-menu">
			{{ function('wsc_render_footer_menu') }}
		</div>
	</div>
	<div class="below-footer">
		<a class="footer-link" href="/policies-disclosures">Site Policies &amp; Disclosures</a>
		<a class="footer-link" href="http://kswheat.com/" target="_blank" rel="noopener">Copyright &copy; {{ date|date('Y') }} Kansas Wheat Commission</a>
		<a class="footer-link" href="https://weare502.com" target="_blank" rel="nofollow noreferrer">Website Design &amp; Development by 502</a>
	</div>
</footer>