{% extends 'base.twig' %}

{% block content %}
<div id="get-current-crate">
	<h1 class="teal-dash-header mb-4r">{{ post.first_dashed_header }}</h1>
	<section class="current-crate">
		<img src="{{ TimberImage( post.crate_image ).src }}" alt="{{ TimberImage( post.crate_image ).alt }}" />

		<div class="current-crate__details">
			<h2 class="teal-cursive-header">{{ post.crate_name }}</h2>
			<ul class="detail-list">
				{% for item in post.get_field('crate_details') %}
					<li>{{ item.detail }}</li>
				{% endfor %}
			</ul>
			<span class="crate-price"><span class="price">{{ post.crate_price }}</span> Free!</span>
		</div>
	</section>
</div>

{% if post.download_message %}
	<section class="download-container">
		<h4>{{ post.download_message }}</h4>
		<div class="download-grid">
			{% for download in post.get_field('crate_downloads') %}
				<div class="download-grid__item">
					<a class="download-anchor" download href="{{ download.download_url }}" style="background-image: url('{{ TimberImage( download.activity_image ).src }}');"></a>
					<a download href="{{ download.download_url }}">{{ download.activity_name }}</a>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}

{% set count = 1 %}
<div id="meet-the-farmers">
	<section class="meet-the-farmers">
		<h1 class="white-dash-header">{{ post.second_dashed_header }}</h1>
		{% for story in farmer_stories %}
			{% if count is odd %}
				<div class="farmer-story-odd">
					<img src="{{ TimberImage( story.thumbnail ).src }}" alt="{{ TimberImage( story.thumbnail ).alt }}" />
					<div class="info-box">
						<h2 class="teal-cursive-header">{{ story.title }}</h2>
						<p>{{ story.homepage_excerpt }}</p>
						<a class="story-link" href="{{ story.link }}">Read {{ story.plural_name }} Story</a>
					</div>
				</div>
			{% elseif count is even %}
				<div class="farmer-story-even">
					<div class="info-box">
						<h2 class="teal-cursive-header">{{ story.title }}</h2>
						<p>{{ story.homepage_excerpt }}</p>
						<a class="story-link" href="{{ story.link }}">Read {{ story.plural_name }} Story</a>
					</div>
					<img src="{{ TimberImage( story.thumbnail ).src }}" alt="{{ TimberImage( story.thumbnail ).alt }}" />
				</div>
			{% endif %}
			{% set count = count + 1 %}
		{% endfor %}
	</section>
</div>
{% endblock %}