<!doctype html>
<html class="" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KS Wheat | Wheat State Crate</title>
	{{ function('wp_head') }}
	<link rel="stylesheet" href="https://use.typekit.net/elt4dlk.css"> {# Bilo Font #}
	<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> {# Sacramento font #}