{% block navigation %}

{% if is_front_page %}
<div id="sticky-nav" class="nav-wrapper">
{% else %}
<div class="nav-wrapper">
{% endif %}
	<div class="nav-container">

		{# desktop logo #}
		<a class="logo" href="/">
			<img src="{{ theme.link }}/static/images/wsc-logo.png" alt="Wheat State Crate Logo" />
		</a>

		{# mobile menu logo and menu bar #}
		<div class="mobile-nav-top">
			<a class="mobile-logo" href="/">
				<img src="{{ theme.link }}/static/images/wsc-logo.png" alt="Wheat State Crate Logo" />
			</a>

			<div id="menu-toggle">
				<span class="x-bar"></span>
				<span class="x-bar"></span>
				<span class="x-bar"></span>
			</div>
		</div>

		{# core menu (desktop / mobile) #}
		<nav class="nav-menu" role="navigation">
			{# menu is based on jump links - so we load the same menu style on the single post page, with backlinks to the homepage #}
			{% if is_front_page %}
				{{ function('wsc_render_primary_menu') }}
			{% else %}
				{{ function('wsc_render_single_post_clone') }}
			{% endif %}
		</nav>

	</div>
</div>
{% endblock %}