{% extends 'base.twig' %}

{% block content %}
{# styles taken from homepage section #}
<header class="meet-the-farmers single-farmer-post-header">
	<h1 class="white-dash-header">{{ post.header_tagline }}</h1>
	<div class="farmer-story-odd">
		<img src="{{ TimberImage( post.thumbnail ).src }}" alt="{{ TimberImage( post.thumbnail ).alt }}" />
		<div class="info-box">
			{# <h2 class="teal-cursive-header">Farmer Story</h2> #}
			<p><strong>Farmer</strong><br/>{{ post.title }}</p>
			<p><strong>Location</strong><br/>{{ post.location }}</p>
		</div>
	</div>
</header>

<section class="farmer-story-post">
	{{ post.content }}
</section>
{% endblock %}