.before-footer {
	.pattern-bar {
		display: block;
		width: 100vw;
	}
}

.text-callout {
	max-width: 100%;
	margin-top: 3.75rem;
	margin-bottom: 3.75rem;

	h1 { margin-bottom: 1.5rem; }

	p {
		max-width: 75rem;
		margin: 0 auto;
		padding: 0 1rem;
		@include bp(lg) { padding: initial; }
	}
}

.yellow-wrapper {
	background-color: $yellow;
	padding: 3rem 0;
	margin-top: 10rem;
	width: 100%;

	.slider-wrapper {
		margin: -9rem auto 0;
		max-width: 100%;
		width: 100%;

		a {
			position: relative;
			display: block;
			max-width: 18rem;
			padding-top: 1.25%;
			padding-bottom: 1.25%;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			margin-left: 1rem;
			margin-right: 1rem;
			transition: 0.2s ease-out;

			.hover-info {
				visibility: hidden;
				display: block;
				max-width: 10rem;
				margin: 0 auto;
				text-align: center;
				font-size: 1rem;
				color: $white;
				z-index: 10;
				width: 100%;
				line-height: 1.2;
				@include bp(md) { font-size: 1.2rem; }
			}

			@include mq($from: 768px) {
				&:hover {
					transition: 0.2s ease-out;
					background-color: rgba($black, 0.7);
					background-blend-mode: multiply;

					.hover-info { visibility: visible; }
				}
			}
		}
	}
}