.primary-button {
	display: inline-block;
	padding: 0.5rem 0.65rem;
	font-family: $font-head;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1; // reduce extra space amount
	vertical-align: text-top;

	@include bp(xs) {
		padding: 0.635rem 0.75rem;
		font-size: 1rem;
	}

	&--w, &--t, &--border, &--plain { @extend .primary-button; }

	// white
	&--w {
		background-color: $white;
		color: $teal;

		&:hover {
			background-color: $teal;
			color: $white;
		}
	}

	// transparent (ghost-style)
	&--t {
		background-color: transparent;
		color: $white;

		&:hover {
			background-color: $white;
			color: $light-black;
		}
	}

	&--border {
		color: $teal;
		background-color: $white;
		border: 1px solid $teal;
		transition: 0.1s ease-in;

		&:hover {
			background-color: $teal;
			color: $white;
			transition: 0.1s ease-out;
		}
	}

	// plain text link
	&--plain {
		color: $teal;
		padding: 0.25rem;
	}
}

.story-link {
	font-family: $font-body;
	font-size: 1.25rem;
	font-weight: bold;
	color: $teal;
	transition: none;
	@include bp(xs) { font-size: 1.5rem; }
	@include bp(sm) { font-size: 2rem; }

	&:hover {
		transition: none;
		text-decoration: underline $cyan;
	}
}