.site-footer {
	max-width: 100%;
	margin: 0 auto;
	padding: 3rem 1rem 1rem;
	background-color: $teal;

	a, p { color: $white; }
	p { font-weight: 500; margin-bottom: 0.75rem; } // medium bold

	.phone-link {
		display: block;
		margin-bottom: 1rem;
		line-height: 1;
	}
}

.footer-top {
	display: flex;
	max-width: 75rem;
	padding-bottom: 1.5rem;
	margin: 0 auto;
	border-bottom: 1px solid rgba($white, 0.5);
	flex-direction: column;
	justify-content: center;

	// styles fit comfortably until   < 680px
	@include bp(680px) {
		flex-direction: row;
		justify-content: unset;
	}

	.wsc-logo {
		margin: 0 auto 1.5rem;

		@include bp(680px) {
			margin: unset;
			margin-right: 1.75rem;
		}
	}

	.information {
		padding-bottom: 0.5rem;
		max-width: 32rem;
		margin: 0 auto;
		text-align: center;

		@include bp(680px) {
			margin: initial;
			padding-left: 1.75rem;
			text-align: left;
			border-left: 1px solid $white;
		}

		.gmap-link {
			display: block;
			margin-bottom: 1rem;
			@include bp(680px) { margin-bottom: unset; }
		}
	}

	a > img {
		display: block;
		max-width: 11.25rem;
	}

	.kswheat-logo > img {
		margin: 2rem auto 0;

		@include bp(680px) {
			display: block;
			margin: unset;
			margin-top: 2.25rem;
		}

		@include bp(sm) { margin-top: 1.5rem; }
	}
}

.below-footer {
	display: flex;
	max-width: 75rem;
	margin: 0 auto;
	padding-top: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include bp(650px) {
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-link {
		font-size: 0.75rem;
		opacity: 0.5;
		margin-bottom: 0.5rem;
		@include bp(650px) { margin-bottom: unset; }
	}
}

// footer navigation
.footer-menu {
	max-width: 15rem;
	margin: 1.5rem auto 0;
	text-align: center;

	@include bp(650px) {
		text-align: left;
		margin: 0 auto 0 7rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a:hover { text-decoration: underline; }
}