.form {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2.5rem 1rem 3.75rem;

	h1 { margin-bottom: 2.5rem; }

	.entries-left {
		position: absolute;
		bottom: -1rem;
		right: 0;
		font-family: $font-body;
		font-weight: bold;
		color: $teal;

		// slides under form when smaller
		@include bp(650px) { bottom: 2.6rem; }

		span {
			font-family: $font-body;
			font-weight: bold;
			text-decoration: 2px underline $cyan;
		}
	}

	> div {
		position: relative;
		max-width: 36.875rem;
		margin: 0 auto;
	}
}

// global Gravity Forms styles (consistency styling)
.gforms_css {
	/* start global elements */
	label { display: none; }
	ul { list-style: none; margin: 0; padding: 0 }
	li { margin-top: 0 !important; } // slim spacing up

	// all fields
	.gfield { padding-right: 0 !important; }

	// all input containers
	.ginput_container { margin-top: unset !important; }

	// all inputs
	input, textarea {
		font-size: 1.4375rem !important;
		color: $teal !important;
		background-color: $beige !important;
		border: unset;
		padding: 0.75rem 1rem !important;
		border-radius: 7px;
		margin-top: 0 !important;
		margin-bottom: 1.25rem !important;
		line-height: 1.2 !important; // prevent massive boxes on mobile
	}

	select, option {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: $beige !important;
		color: $teal !important;
		font-family: $font-body;
		font-weight: normal;
		font-size: 1.4375rem !important;
		border: unset !important;
		border-radius: 7px;
	}

	select {
		position: relative;
		padding: 0.5rem 0.25rem 0.55rem 0.75rem !important;
		margin-bottom: 19px !important;

		@include bp(680px) {
			margin-bottom: unset !important;
			margin-top: 0 !important;
		}

		&:hover { cursor: pointer; } // visual cue for user
	}

	// firefox specific <select> padding (compatibility)
	@-moz-document url-prefix() {
		select {
			padding: 0.7rem 0.25rem 0.6rem 0.75rem !important;
		}
	}

	.gform_footer .gform_button, .button {
		background: unset;
		border: unset;
		background-color: $frost-green !important;
		font-family: $font-body;
		font-weight: 500;
		transition: 0.1s ease-out;
		max-width: 15.375rem !important;
		width: 100% !important;
		padding: 0.875rem 0 !important;
		border-radius: 7px;

		&:hover {
			cursor: pointer;
			transition: 0.1s ease-out;
			background-color: $teal !important;
			color: $white !important;
		}
	}
}

#gform_wrapper_1 {
	margin: 0 auto;

	// name / email fields
	#input_1_1, #input_1_2 { width: 100%; }

	// name field
	#field_1_1 { margin-top: 0; }

	// bring addx boxes in line (removes 5px extra bottom margin on mobile)
	.address-box span { margin-bottom: 0; }

	@include mq($from: 680px) {
		.address-box {
			#input_1_3_1 { // addx 1
				max-width: 17.75rem;
				float: left;
			}

			#input_1_3_2 { // addx 2
				max-width: 17.75rem;
				float: right;
			}

			#input_1_3_3_container { // city
				max-width: 18.25rem; // slightly wider than others
				float: left;
				margin-right: 14px; // push state select right
			}

			// state dropdown container
			#input_1_3_4_container {
				max-width: 8.75rem;
				float: left;

				// select styles below (global for form)
			}

			// zip code
			#input_1_3_5_container {
				max-width: 8.125rem;
				float: right;
				margin-right: 0;
				padding-right: 0 !important;
			}
		}

		// influencer code
		#input_1_4 {
			width: calc(50% - 11px) !important; // from calc(50% - 8px) (3px shorter)
			text-transform: uppercase;
		}
	}
}

#gform_wrapper_2 #gform_2, #gform_wrapper_3 #gform_3 {
	margin: 3.75rem auto 1.5rem;
	max-width: 36.87rem;
}