.current-crate {
	display: flex;
	width: 100%;
	max-width: 68.5rem;
	margin: 0 auto 5rem;
	padding: 0 1rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap-reverse; // package name on top

	@include bp(900px) {
		justify-content: space-between;
	}

	img {
		max-width: 20rem;
		border-radius: 11px;
		@include bp(sm) { max-width: 29.875rem; }
	}

	&__details {
		max-width: 23.75rem;
		margin: 0 auto 3rem;
		@include bp(900px) { margin: 0 auto 0 1rem; }

		@include bp(md) {
			margin-left: 7.5rem;
			margin-right: auto;
		}

		.crate-price, .price {
			font-size: 2rem;
			color: $cyan;
			font-weight: 500; // medium
			text-transform: uppercase;
			@include bp(xs) { font-size: 2.5rem; }
			@include bp(sm) { font-size: 3.125rem; }
		}

		.price { text-decoration: line-through; }
	}

	// in __details
	.detail-list {
		list-style: none;
		padding: 0;
		padding-left: 0.5rem;

		li {
			color: $teal;
			font-weight: 500; // medium
			font-size: 1.375rem;
			margin-bottom: 0.3rem;

			&:before {
				content: "•";
				font-size: 1.375rem;
				color: $teal;
				padding-right: 0.5rem;
				vertical-align: text-top;
			}
		}
	}
}

// download grid section
.download-container {
	max-width: 68.5rem;
	margin: 7.5rem auto 5rem;
	padding: 0 1rem;

	h4 {
		color: $teal;
		margin-bottom: 2.5rem;
		text-align: center;
		@include bp(sm) { text-align: left; }
	}

	.download-grid {
		display: grid;
		max-width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
		row-gap: 2.5rem;
		column-gap: 3.25rem;
		justify-content: center;
		@include bp(sm) { row-gap: 4rem; }

		&__item {
			max-width: 18rem;
			width: 100%;
			text-align: center;
			margin: 0 auto;

			.download-anchor {
				display: block;
				background-repeat: no-repeat;
				background-position: 100% 100%;
				background-size: cover;
				min-height: 15rem;
				border-radius: 7px;
				margin-bottom: 1rem;
			}

			a:not(.download-anchor) {
				margin-bottom: 0;
				font-size: 1.25rem;
				font-weight: bold;
			}
		}
	}
}

.meet-the-farmers {
	background-color: $teal;
	max-width: 100%;
	padding-top: 2.5rem;
	padding-bottom: 5rem;
}

.farmer-story-odd, .farmer-story-even {
	position: relative; // for cardboard backgrounds lower
	max-width: 77rem;
	margin: 2.5rem auto 0;
	padding: 0 1rem;

	img {
		position: relative;
		display: block;
		max-width: 38.75rem;
		width: 100%; // respect padding (flow)
		margin: 0 auto;
		border-radius: 20px;

		@include bp(md) {
			margin: unset; // unset for both, individual options set below
			width: initial; // let image grow again (auto)
		}
	}

	// farmer overview card
	.info-box {
		max-width: 44.25rem;
		width: 100%;
		position: relative;
		padding: 1.25rem 2.5rem 3rem;
		background-image: url('static/images/cardboard-background.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
		z-index: 5;
		margin: 0 auto;

		@include bp(md) {
			margin: unset;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		p {
			max-width: 39rem;
			color: $teal;
		}
	}
}

// image on left side
.farmer-story-odd {
	@include bp(md) {
		img { margin-right: auto; } // unset above
		.info-box { right: 1rem; }
	}
}

// image on right side
.farmer-story-even {
	@include bp(md) {
		img { margin-left: auto; } // unset above
		.info-box { left: 1rem; }
	}
}