.home-header {
	width: 100vw;
	height: 100vh; // scroll reflow only in firefox
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100%;

	// full page header
	&__inner-content {
		max-width: 100%;

		// until 1200px, let image flow full width - looks better
		.image-anchor-right {
			max-width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			right: 0;
			object-fit: cover;
			@include bp(lg) { max-width: 70vw; }
		}

		.brand-anchor-left {
			max-width: 75vw; // always overlap right image
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2; // keep on top
			@include bp(600px) { max-width: 50vw; }
			@include bp(xl) { max-width: 36vw;}
		}

		.brand-logo {
			background-color: $cyan;
			padding: calc(4vh + 1rem) calc(5vw + 2rem); // smooth padding flow
			text-align: center; // keeps image centered on xl displays
		}

		// match left edge + padding for text area below brand logo
		.header-tagline {
			background-color: $teal;
			padding: 1rem;
			margin: 0 auto;
			@include bp(sm) { padding: calc(4vh + 1rem) calc(5vw + 2rem); }
			@include bp(lg) { padding: 1.5rem 2rem 1.5rem 7.5rem; }

			h1 {
				color: $white;
				line-height: 1.3; // roughly 60px
				font-size: 1.5rem;
				font-weight: 500;
				@include bp(sm) { font-size: 1.875rem; }
				@include bp(lg) { font-size: 2.875rem; }
			}
		}
	} // end &.[__inner-content]
}