// global menu styles
.nav-wrapper {
	position: relative;
	max-width: 100%;
	background-color: $white;

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

// navbar sticky added by js (default global sticky styles - mobile/desktop specific styles below)
.sticky {
	position: fixed !important;
	top: 0;
	width: 100%; // needed to preserve width in relation to "position: relative;"
	z-index: 100; // always on top of page content
	overflow: hidden;

	// add padding to the top of the main wrapper when the nav is fixed
	+ .content-wrapper {
		padding-top: 10rem;
	}
}

// hamburger menu
#menu-toggle { display: none; }

.mobile-nav-top {
	display: none;
}

// laptop+ styles
@include mq($from: 900px) {

	// only applied on desktop
	.nav-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	// no border or bottom padding on mobile
	.nav-container {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding-top: 2rem;
		padding-bottom: 1.75rem;
	}

	.logo {
		max-width: 14.125rem;
		padding-right: 5rem;
		border-right: 3px solid $teal;
	}

	// shrink menu when fixed at top - DESKTOP
	.sticky .nav-container {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		// small logo
		.logo { max-width: 6.5rem; padding-right: 1rem; border-right: unset; }
	}

	#primary-menu { display: flex !important; } // needed to override jQuery slideToggle() - sets display: none - inline

	// <nav>
	.nav-menu {
		width: 58.25rem;
		padding-left: 2rem;

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			li a {
				color: $teal;
				font-family: $font-body;
				font-size: 1.25rem;
				text-transform: uppercase; // uppercase fallback if font is not loaded / supported
				transition: none;
				padding-bottom: 0.25rem;
				border-bottom: 2px solid transparent;

				// explicit for   javascript: void(0)
				&:hover {
					cursor: pointer;
					border-bottom: 2px solid $cyan;
					transition: none;
				}
			}

			&.current-menu-item {
				border-bottom: 2px solid $cyan;
			}

		} // .menu
	} // .nav-menu
}

// mobile to laptop styles
@include mq($until: 899px) {

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;

		.mobile-logo { max-width: 5.75rem; }
	}

	// fixed mobile menu styles (shrink slightly only when fixed to top of viewport)
	.sticky {
		.mobile-nav-top {
			padding: 0.5rem 1rem 0.25rem;
			.mobile-logo { max-width: 3.5rem; }
		}
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;

		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			width: 1.6rem;
			height: 3px;
			margin-bottom: 6px;
			background-color: $teal;
			transition: 0.2s ease-out;
			border-radius: 1px;
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 4px;

			// top bar
			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			// middle bar
			&:nth-child(3n+2) {
				opacity: 0;
			}

			// bottom bar
			&:nth-child(3n+3) {
				bottom: 8px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	} // #menu-toggle

	#primary-menu {
		display: none;
		position: relative;
		top: 1.5rem;
		max-width: 100%;
		margin: 0 auto;
		padding-left: 2rem;
		overflow: hidden;
		padding-bottom: 1.5rem;

		li {
			margin-bottom: 1.5rem;
		}

		a {
			font-family: $font-body;
			color: $teal;
			font-size: 1.125rem;
			text-transform: uppercase;
		}
	} // #primary-menu
}