/* Used to add pseudo elements to all anchor points for the nav menu's "jump list"
   this prevents the fixed nav from covering or scrolling past the anchor locations
*/

// the wrapping div contains these elements
#get-current-crate::before,
#meet-the-farmers::before,
#sign-up-form::before,
#more-activities::before {
	display: block;
	content: ' ';
	visibility: hidden;
	margin-top: -200px; // must match height (must be negative)
	height: 200px; // must match margin-top (must be positive)
}