// no padding for content area. header stays on top
.single-story .content-wrapper { margin-top: 0; }

// mimics homepage styles (padding and placement adjusted
.single-farmer-post-header {
	padding-bottom: 0;
	margin-bottom: 10rem;

	h1 { margin-top: 1rem; }

	.farmer-story-odd {
		position: relative;
		margin-top: -4rem;
		bottom: -8rem;

		.info-box { padding-bottom: 1rem; }
	}

	p {
		margin-bottom: 1.25rem;
	}
}

.farmer-story-post {
	max-width: 64.5rem;
	padding: 1rem;
	margin: 3.75rem auto 0;

	p { margin-bottom: 2.25rem; }
	h1, h2, h3, h4, h5, h6 { color: $teal; }
}