// basic font styles
a, p, span, address, blockquote {
	font-family: $font-body;
	font-weight: normal;
	font-style: normal;
	font-size: 1.25rem;
	line-height: 1.5;
	color: $teal;
	@include bp(sm) { font-size: 1.4375rem; }

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of June 1, 2020)
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

p {
	margin-top: 0; // headers push down
	margin-bottom: 1rem;
	@include bp(sm) { margin-bottom: 1.5rem; }
}

small {
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	font-style: italic;
	color: $teal;
}

time {
	display: block;
	padding-top: 0.75rem;
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	color: $teal;
}

ul, ol {
	margin-bottom: 2rem;
	font-family: $font-body;
	font-size: 1rem; // 16px
	color: $light-black;
}

// heading styles (dashed and cursive styles below this section)
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-body;
	font-weight: bold;
	color: $light-black;
}

h1, .h1-heading {
	font-size: 2.5rem;
	@include bp(xs) { font-size: 3.25rem; }
	@include bp(sm) { font-size: 4.5rem; } // 72px max
}

h2, .h2-heading {
	font-size: 2.25rem;
	@include bp(xs) { font-size: 2.5rem; }
	@include bp(sm) { font-size: 3.75rem; } // 60px max
}

h3, .h3-heading {
	font-size: 1.5rem;
	@include bp(sm) { font-size: 1.75rem; }
	@include bp(md) { font-size: 2.25rem; } // 36px max
}

h4, .h4-heading {
	font-size: 1.375rem;
	@include bp(md) { font-size: 1.625rem; } // 26px max
}

h5, .h5-heading {
	font-size: 0.9375rem;
	@include bp(sm) { font-size: 1.125rem; } // 18px max
}

h6, .h6-heading {
	font-size: 0.875rem;
	@include bp(xs) { font-size: 1rem; } // 16px max
}

// (applied to h1) h1 with dash
.teal-dash-header, .white-dash-header {
	max-width: 75rem;
	margin: 0 auto;
	padding-left: 1rem;
	position: relative;
	font-weight: 500; // bilo-medium
	@include bp($iphone678) { padding-left: 4rem; }
	@include bp(650px) { padding-left: 6.5rem; }
	@include bp(900px) { padding-left: 8.5rem; }
	@include bp(lg) { padding-left: 7.5rem; }

	&:before {
		display: none;
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 2.5rem;
		height: 4px;
		margin-left: 1rem;
		@include bp($iphone678) { display: inline-block; }
		@include bp(650px) { height: 5px; width: 4.5rem; }
		@include bp(900px) { height: 6px; width: 6.5rem; }
		@include bp(lg) { margin-left: 0; }
	}
}

.teal-dash-header {
	color: $teal;
	&:before { background-color: $teal; }
}

.white-dash-header {
	color: $white;
	&:before { background-color: $white; }
}

// h2 cursive header styles
.teal-cursive-header, .white-cursive-header {
	font-family: $font-head;
	font-weight: normal;
}

.teal-cursive-header { color: $teal; }
.white-cursive-header { color: $white; }