.content-wrapper {
	max-width: 100%;
	margin: 3rem auto 0;
}

// default template classes //
.default-header {
	max-width: 43.75rem;
	margin: 0 auto;
	background-color: $white;
}

.default-container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;

	// base links for default pages
	a:not(.plain-link) {
		color: $light-black;
		font-size: 1rem;
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

.default-container-short {
	max-width: 62.5rem;
	margin: 0 auto;
	padding: 1rem;

	// base links for default pages
	p a:not(.plain-link) {
		color: $teal;
		font-weight: bold;
		text-decoration: underline;
	}
}

// helper classes //
.hide-on-desktop {
	display: block;
	@include bp(xs) { display: none; }
}

.hide-on-mobile {
	display: none;
	@include bp(xs) { display: block; }
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease-out;
}

// base link styles
.plain-link {
	color: $teal;
	text-decoration: none;
	&:hover { text-decoration: underline;}
}

.mb-4r { margin-bottom: 4rem; }

// align media/text split image to top of text
.wp-block-media-text {
	margin-top: 3rem;

	> figure {
		margin-bottom: 2rem; // for mobile view (does not affect tablet+)
	}

	.wp-block-media-text__media {
		align-self: unset;
		margin-top: 0.5rem;
	}

	.wp-block-media-text__content {
		padding-left: 0;
	}
}

.wp-block-image > img, figure img {
	border-radius: 20px !important;
}

.blocks-gallery-grid, .wp-block-gallery {
	margin: 0 auto !important;
}

.arrow-down {
	position: absolute;
	bottom: 3.5rem;
	left: 50%;
	transform: translateX(-50%);
	max-width: 5rem;
	margin: 0 auto;
	animation: bounce 2s 5;
	animation-fill-mode: forwards; // lock position when finished
	z-index: 50;

	a {
		background-color: rgba($white, 0.4);
		border-radius: 50%;
		padding: 0.75rem;
		font-family: FontAwesome;
		font-size: 1.5rem;
		color: linear-gradient(0% $white, 100% $teal);
	}

	// 5 bounces, 2s per bounce
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
		40% { transform: translateY(-15px); }
		60% { transform: translateY(-10px); }
	}
}