// standard colors
$black: #000;
$smoke: #111F2A;
$light-black: #454545;
$white: #FFF;
$off-white: #EAEAEA;
$grey-one: #8A8A8A;
$grey-two: #515151;
$grey-three: #979797;
$grey-four: #9B9B9B;
$grey-five: #D8D8D8;
$menu-grey: #D0D4CC;
$steel-grey: #959EA6;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// brand colors
$cyan: #8CD1CA;
$teal: #236155;
$light-blue: #8AD1CA;
$yellow: #FFCB38;
$beige: #F2E1DE;
$frost-green: #D2EBE1;

// fonts
$font-body: 'bilo', sans-serif;
$font-head: 'Sacramento', cursive;
$fa: FontAwesome;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$iphonex: 414px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}