.editor-button-block {
	display: inline-block;
	padding: 0.5rem 0.65rem;
	font-family: $font-head;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	line-height: 1; // reduce extra space amount
	vertical-align: text-top;

	@include bp(xs) {
		padding: 0.635rem 0.75rem;
		font-size: 1rem;
	}

	// transparent and white blocks will blend into page with white background (not added)
	&__border-teal, &__solid-teal { @extend .editor-button-block; }

	&__border-teal {
		background-color: $white;
		color: $teal;
		border: 1px solid $teal;

		&:hover {
			background-color: $teal;
			color: $white;
			border-color: $white;
		}
	}

	&__solid-teal {
		background-color: $teal;
		color: $white;
		border: 1px solid $teal;

		&:hover {
			background-color: $white;
			color: $teal;
		}
	}
}