.cursive-text-block {
	padding-left: 1.5rem;
	margin-top: 3.75rem;
	margin-bottom: 2.75rem;
	font-family: $font-head;
	font-weight: normal;
	color: $teal;
	line-height: 1.3;

	@include bp(sm) {
		margin-bottom: 3.75rem;
		line-height: 1.5;
	}
}