.qa-container {
	max-width: 100%;
	margin-top: 3.75rem;

	h2 {
		font-family: $font-body;
		font-weight: bold;

		> span {
			font-family: $font-head;
			font-weight: normal;
			font-size: 2.25rem;
			@include bp(xs) { font-size: 2.5rem; }
			@include bp(sm) { font-size: 3.75rem; }
		}
	}

	.qa-content {
		margin-bottom: 3rem;
		p { margin-bottom: 1rem; }
		> div { margin-bottom: 1rem; } // wysiwyg field

		strong {
			display: inline;
			color: $teal;
			font-weight: bold;
			font-family: $font-body;
			font-size: 1.4375rem;
		}
	}
}